<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Update person</title>
</head>

<body>
    <h1>Редактирование пользователя:</h1>
    <hr>
    <form th:method="POST" th:action="@{/admin/users/{id}(id=${person.getId()})}" th:object="${person}">
        <label for="${'username' + person.getId()}" class="form-label">Введите ФИО: </label>
        <input type="text" class="form-control" th:value="${person.getUsername()}" th:name="username" id="${'username' + person.getId()}"/>
        <div class="form-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error
        </div>
        <label th:for="${'yearOfBirth' + person.getId()}" class="form-label">Введите год рождения: </label>
        <input type="text" class="form-control" th:value="${person.getYearOfBirth()}" th:name="yearOfBirth" th:id="${'yearOfBirth' + person.getId()}" />
        <div class="form-text" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of
          birth
          error</div>
        <label th:for="${'password' + person.getId()}" class="form-label">Введите пароль: </label>
        <input type="text" class="form-control" th:field="*{password}" th:id="${'password' + person.getId()}" />
        <div class="form-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error
        </div>
        <label for="${'usersRoles' + person.getId()}" class="form-label">Выбарите роли: </label>
        <select class="form-select" multiple name="roles" th:id="${'usersRoles' + person.getId()}">
          <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getId()}" th:selected="${person.getRoles().contains(role) ? true : false}">ROLE</option>
        </select>
        <input type="submit" class="btn btn-success" value="Редактировать" />
      </form>
      <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>