.bodybar {
    display:flex;
}

.bodybar a {
    display:block;
    overflow: auto;
    padding: .5em 1em;
    text-decoration: none;
    color: #085584;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

.bodybar a.this_link{
    background-color: #ffffff;
    border: solid 1px #666;
}