.container{
    display: flex;
}

.sidebar{
    overflow: auto;
    width:20%;
    background-color: #fff;
    border-radius: .3em;
    max-height: 98vh;
    margin-right: .5%;
    margin-top:.5%;
}
.main{
    overflow: auto;
    width:80%;
    border-radius: .3em;
    max-height: 98vh;
    padding: 0 .5em .5em .5em;
    margin-top:.5%;
}