<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_for_header.css}" />
    <title>Logout</title>
</head>
<body>
    <div class="row" th:fragment="logout">

        <div class="col-11 align-self-center">
            <p class="my-0">
                <span>Привет </span>
                <span th:text="${personDetails.getUsername()}"></span>
                <span> ваши права: </span>
                <span th:each="role : ${personDetails.getRoles()}" th:text="${role.getId()} + ' '"></span>
            </p>
        </div>
        <div class="col-1">
            <form th:action="@{/logout}" th:method="POST">
                <input class="btn btn-block btn btn-dark" type="submit" value="Выйти">
            </form>
        </div>
    </div>
</body>
</html>